.forgotPasswordImg {
  margin-top: 40px;
  margin-bottom: 30px;
}

.forgotPasswordDiv {
  text-align: -webkit-center;
  margin-bottom: 20px;
}

.forgotPasswordParagraph {
  text-align: justify;
  width: 85%;
  margin-bottom: 0;
}
.forgotPasswordParagraph > span {
  color: #5fbae9;
  -webkit-animation: slide 3s linear infinite;
  -moz-animation: slide 3s linear infinite;
  animation: slide 3s linear infinite;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#formForgotPass {
  margin-top: 30px;
}
.forgotPassClose {
  margin-top: 5px;
  margin-right: 5px;
  position: absolute;
  right: 0;
  color: #5fbae9;
  background-color: #fff;
  border-color: #fff;
}

.forgotPassClose:hover {
  font-weight: bold;
  color: #39ace7;
  background-color: #fff;
  border-color: #fff;
}
#fpBttn {
  margin: 20px 0;
}
